<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 - Condition if else</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <div class="wrapper">
        <div id="app">
            <div class="app__header">
                {{ priority.title }} - {{ priority.value }}
            </div>
            <br>

            <!--else if-->
            <div>
                <p v-if="priority.value === 3">Priority = 3</p>
                <p v-else-if="priority.value === 1 || priority.value === 2">Priority =1 or 2</p>
                <p v-else>Priority = 0</p>
            </div>

            <div class="app__body">
                <button @click="up">{{ buttons.next.title }}</button>
                <br>
                <button v-if="priority.value > 0" @click="down">{{ buttons.prev.title }}</button>
            </div>
        </div>
    </div>

    <script> 
        const App = {
            data () {
                return {
                    priority: {
                        title: "Priority",
                        value: 0
                    },
                    buttons: {
                        prev: {
                            title: "Down",
                        },
                        next: {
                            title: "Up",
                        }, 
                    },
                };
            },
            methods: {
                down() {
                    if (this.priority.value >= 1) {
                        this.priority.value -= 1; 
                    }
                },
                up() {
                    if (this.priority.value < 3) {
                        this.priority.value += 1; 
                    }
                },
            },
        };

        Vue.createApp(App).mount("#app");
    </script>
    
</body>
</html>